# Exchange Rate Database Exercise

In [2]:
import requests
import pandas as pd
url = 'https://api.exchangeratesapi.io/latest?base=NOK'
r = requests.get(url)
r.json() #json is a dictionary
search_json = r.json()
search_json.keys() #looking at what columns there are

dict_keys(['rates', 'base', 'date'])

In [4]:
#Q1: What is the average exchange rate value this search returns?
a = round(pd.DataFrame(r.json()).describe(),3)
a

          rates
count    33.000
mean     51.823
std     261.188
min       0.076
25%       0.171
50%       0.665
75%       3.112
max    1502.250

In [5]:
#Q2: Change the base to Euros, then tell me how many Japanese Yen is in a euro
#change base rate to EUR (euros)
url = 'https://api.exchangeratesapi.io/latest?base=EUR'
r = requests.get(url)
r.json() 
pd.DataFrame(r.json())
r.json()['rates']['JPY'] #to just get the value of the Yen

117.12

In [6]:
#Q3: What was the number of Yen per Euro on Jan 2, 2018?
#change base rate to EUR (euros) and filter just for  Jan 2, 2018
url = 'https://api.exchangeratesapi.io/history?start_at=2018-01-02&end_at=2018-01-02&base=EUR' #change LATEST to HISTORY
r = requests.get(url)
pd.DataFrame(r.json()) 
r.json()['rates']['2018-01-02']['JPY'] #to specify the exact date and Yen

135.35

In [7]:
#Q4: Bonus, prof can show: Get a time series of EURJPY from 2018 through 2019.
url = 'https://api.exchangeratesapi.io/history?start_at=2018-01-01&end_at=2019-12-31&base=EUR' #change LATEST to HISTORY
r = requests.get(url)
df = pd.DataFrame(r.json()) 
#how do we pull out a dictionary inside another variable?
df['EURJPY'] = df['rates'].apply(lambda x: x.get('JPY')) #create a EURJPY column
df

,rates,start_at,base,end_at,EURJPY
2018-01-02,"{'CAD': 1.5128, 'HKD': 9.4283, 'SGD': 1.6031, ...",2018-01-01,EUR,2019-12-31,135.35
2018-01-03,"{'CAD': 1.5047, 'HKD': 9.3985, 'SGD': 1.5988, ...",2018-01-01,EUR,2019-12-31,134.97
2018-01-04,"{'CAD': 1.5114, 'HKD': 9.4323, 'SGD': 1.6043, ...",2018-01-01,EUR,2019-12-31,135.92
2018-01-05,"{'CAD': 1.5068, 'HKD': 9.4188, 'SGD': 1.5993, ...",2018-01-01,EUR,2019-12-31,136.45
2018-01-08,"{'CAD': 1.488, 'HKD': 9.3656, 'SGD': 1.5956, '...",2018-01-01,EUR,2019-12-31,135.34
2018-01-09,"{'CAD': 1.4826, 'HKD': 9.3323, 'SGD': 1.5932, ...",2018-01-01,EUR,2019-12-31,134.31
2018-01-10,"{'CAD': 1.4931, 'HKD': 9.3809, 'SGD': 1.5981, ...",2018-01-01,EUR,2019-12-31,133.62
2018-01-11,"{'CAD': 1.5093, 'HKD': 9.4002, 'SGD': 1.6006, ...",2018-01-01,EUR,2019-12-31,134.19
2018-01-12,"{'CAD': 1.5194, 'HKD': 9.4962, 'SGD': 1.6103, ...",2018-01-01,EUR,2019-12-31,134.88
2018-01-15,"{'CAD': 1.5263, 'HKD': 9.605, 'SGD': 1.6223, '...",2018-01-01,EUR,2019-12-31,135.81
2018-01-16,"{'CAD': 1.5194, 'HKD': 9.568, 'SGD': 1.6185, '...",2018-01-01,EUR,2019-12-31,135.40
2018-01-17,"{'CAD': 1.5185, 'HKD': 9.5415, 'SGD': 1.6153, ...",2018-01-01,EUR,2019-12-31,135.21
2018-01-18,"{'CAD': 1.5229, 'HKD': 9.5648, 'SGD': 1.6175, ...",2018-01-01,EUR,2019-12-31,136.07
2018-01-19,"{'CAD': 1.5246, 'HKD': 9.5814, 'SGD': 1.6178, ...",2018-01-01,EUR,2019-12-31,135.54
2018-01-22,"{'CAD': 1.527, 'HKD': 9.5689, 'SGD': 1.6151, '...",2018-01-01,EUR,2019-12-31,135.66
2018-01-23,"{'CAD': 1.5289, 'HKD': 9.576, 'SGD': 1.6162, '...",2018-01-01,EUR,2019-12-31,135.35
2018-01-24,"{'CAD': 1.5229, 'HKD': 9.6556, 'SGD': 1.6181, ...",2018-01-01,EUR,2019-12-31,135.13
2018-01-25,"{'CAD': 1.5289, 'HKD': 9.6996, 'SGD': 1.6202, ...",2018-01-01,EUR,2019-12-31,135.12
2018-01-26,"{'CAD': 1.5325, 'HKD': 9.7222, 'SGD': 1.6259, ...",2018-01-01,EUR,2019-12-31,135.95
2018-01-29,"{'CAD': 1.5269, 'HKD': 9.6783, 'SGD': 1.622, '...",2018-01-01,EUR,2019-12-31,134.75
2018-01-30,"{'CAD': 1.5304, 'HKD': 9.7117, 'SGD': 1.628, '...",2018-01-01,EUR,2019-12-31,134.98
2018-01-31,"{'CAD': 1.529, 'HKD': 9.7413, 'SGD': 1.6288, '...",2018-01-01,EUR,2019-12-31,135.60
2018-02-01,"{'CAD': 1.5348, 'HKD': 9.7429, 'ISK': 125.01, ...",2018-01-01,EUR,2019-12-31,136.62
2018-02-02,"{'CAD': 1.5387, 'HKD': 9.7692, 'ISK': 125.2, '...",2018-01-01,EUR,2019-12-31,137.22
2018-02-05,"{'CAD': 1.5468, 'HKD': 9.7288, 'ISK': 125.0, '...",2018-01-01,EUR,2019-12-31,136.67
2018-02-06,"{'CAD': 1.5488, 'HKD': 9.6403, 'ISK': 125.0, '...",2018-01-01,EUR,2019-12-31,134.97
2018-02-07,"{'CAD': 1.5445, 'HKD': 9.6463, 'ISK': 125.0, '...",2018-01-01,EUR,2019-12-31,134.84
2018-02-08,"{'CAD': 1.5402, 'HKD': 9.5795, 'ISK': 125.2, '...",2018-01-01,EUR,2019-12-31,134.31
2018-02-09,"{'CAD': 1.5475, 'HKD': 9.5985, 'ISK': 125.2, '...",2018-01-01,EUR,2019-12-31,133.59
2018-02-12,"{'CAD': 1.5427, 'HKD': 9.5892, 'ISK': 125.4, '...",2018-01-01,EUR,2019-12-31,133.23
...,...,...,...,...,...
2019-11-18,"{'CAD': 1.4622, 'HKD': 8.6593, 'ISK': 135.9, '...",2018-01-01,EUR,2019-12-31,120.55
2019-11-19,"{'CAD': 1.4633, 'HKD': 8.6709, 'ISK': 136.3, '...",2018-01-01,EUR,2019-12-31,120.46
2019-11-20,"{'CAD': 1.4711, 'HKD': 8.6549, 'ISK': 135.9, '...",2018-01-01,EUR,2019-12-31,119.96
2019-11-21,"{'CAD': 1.4759, 'HKD': 8.6739, 'ISK': 136.3, '...",2018-01-01,EUR,2019-12-31,120.46
2019-11-22,"{'CAD': 1.4679, 'HKD': 8.6525, 'ISK': 136.3, '...",2018-01-01,EUR,2019-12-31,120.03
2019-11-25,"{'CAD': 1.4648, 'HKD': 8.6164, 'ISK': 135.9, '...",2018-01-01,EUR,2019-12-31,119.88
2019-11-26,"{'CAD': 1.4663, 'HKD': 8.6256, 'ISK': 135.4, '...",2018-01-01,EUR,2019-12-31,120.09
2019-11-27,"{'CAD': 1.4605, 'HKD': 8.6176, 'ISK': 135.0, '...",2018-01-01,EUR,2019-12-31,120.18
2019-11-28,"{'CAD': 1.4625, 'HKD': 8.6136, 'ISK': 135.0, '...",2018-01-01,EUR,2019-12-31,120.50
2019-11-29,"{'CAD': 1.4614, 'HKD': 8.5954, 'ISK': 134.0, '...",2018-01-01,EUR,2019-12-31,120.43
2019-12-02,"{'CAD': 1.4656, 'HKD': 8.6297, 'ISK': 134.8, '...",2018-01-01,EUR,2019-12-31,120.75
2019-12-03,"{'CAD': 1.4747, 'HKD': 8.6675, 'ISK': 134.4, '...",2018-01-01,EUR,2019-12-31,120.39
2019-12-04,"{'CAD': 1.4707, 'HKD': 8.6753, 'ISK': 134.2, '...",2018-01-01,EUR,2019-12-31,120.45
2019-12-05,"{'CAD': 1.461, 'HKD': 8.6853, 'ISK': 134.4, 'P...",2018-01-01,EUR,2019-12-31,120.69
2019-12-06,"{'CAD': 1.4618, 'HKD': 8.6852, 'ISK': 134.6, '...",2018-01-01,EUR,2019-12-31,120.44
2019-12-09,"{'CAD': 1.4675, 'HKD': 8.6692, 'ISK': 134.3, '...",2018-01-01,EUR,2019-12-31,120.15
2019-12-10,"{'CAD': 1.4666, 'HKD': 8.6691, 'ISK': 134.7, '...",2018-01-01,EUR,2019-12-31,120.27
2019-12-11,"{'CAD': 1.4661, 'HKD': 8.6538, 'ISK': 135.1, '...",2018-01-01,EUR,2019-12-31,120.44
2019-12-12,"{'CAD': 1.4676, 'HKD': 8.6923, 'ISK': 136.7, '...",2018-01-01,EUR,2019-12-31,120.95
2019-12-13,"{'CAD': 1.4712, 'HKD': 8.7062, 'ISK': 137.0, '...",2018-01-01,EUR,2019-12-31,122.43
2019-12-16,"{'CAD': 1.4621, 'HKD': 8.6856, 'ISK': 136.8, '...",2018-01-01,EUR,2019-12-31,121.97
2019-12-17,"{'CAD': 1.469, 'HKD': 8.6953, 'ISK': 136.6, 'P...",2018-01-01,EUR,2019-12-31,122.31
2019-12-18,"{'CAD': 1.4624, 'HKD': 8.6566, 'ISK': 137.2, '...",2018-01-01,EUR,2019-12-31,121.81
2019-12-19,"{'CAD': 1.4588, 'HKD': 8.6687, 'ISK': 137.2, '...",2018-01-01,EUR,2019-12-31,121.73
2019-12-20,"{'CAD': 1.4579, 'HKD': 8.6511, 'ISK': 136.4, '...",2018-01-01,EUR,2019-12-31,121.31
2019-12-23,"{'CAD': 1.4577, 'HKD': 8.6232, 'ISK': 135.4, '...",2018-01-01,EUR,2019-12-31,121.18
2019-12-24,"{'CAD': 1.4582, 'HKD': 8.629, 'ISK': 135.6, 'P...",2018-01-01,EUR,2019-12-31,121.19
2019-12-27,"{'CAD': 1.4592, 'HKD': 8.6845, 'ISK': 135.6, '...",2018-01-01,EUR,2019-12-31,122.23
2019-12-30,"{'CAD': 1.4621, 'HKD': 8.7133, 'ISK': 135.8, '...",2018-01-01,EUR,2019-12-31,122.19
2019-12-31,"{'CAD': 1.4598, 'HKD': 8.7473, 'ISK': 135.8, '...",2018-01-01,EUR,2019-12-31,121.94