# Arithmetic

In [1]:
2+2

4

In [12]:
float((2-2)) # FLOAT is a type that allows it to go into more precise decimals; a TYPE of the number only is an int

0.0

In [6]:
type(2/3)

float

In [7]:
int(2/3) # divide integers and you WILL get a float back

0

In [5]:
2//3 # floor division

0

In [8]:
int("0")

0

In [13]:
2%3 # mod operator

2

In [16]:
2**3 # exponent

8

In [17]:
2^3 # not an exponenet!!!!

1

In [19]:
int((2+3)*(4+15)/3) #pemdas as youd expect

31

In [20]:
3>3

False

In [21]:
True == 1

True

In [23]:
False == 1

False

# Logic

In [24]:
a = True

In [25]:
b = False

In [26]:
print(a and b)

False

In [27]:
print(a or b)

True

In [28]:
print(a and not b)

True

In [29]:
print(not a or not b)

True

In [41]:
and
or
()
in 
not in
is and is not # check whether the left side and the right side are the same object; dont use these
>
<
<=
>=
== # equals; not the same as IS
!= # not equals

SyntaxError: invalid syntax (<ipython-input-41-ddbed1c4bbb0>, line 1)

In [31]:
a=3

In [32]:
b=[1,2,3]

In [33]:
print(a in b)

True

In [34]:
print(a not in b)

False

In [35]:
print(b in a) #hard to calculate a number going into a smaller set of numbers

TypeError: argument of type 'int' is not iterable

In [36]:
print(b not in a)

TypeError: argument of type 'int' is not iterable

In [37]:
list1=[]

In [38]:
list2=[]

In [39]:
list3=list1

In [42]:
print(list1 == list2)

True

In [43]:
print(list1 is list2)

False

In [44]:
print(list1 is list3)

True

In [45]:

print((3>3) == False) # 1 is not greater than 2, so this evaluates to... 
print(3>3 == False)   #PEMDAS identity check
print((3>3) != True)

True
False
True

In [46]:
x = [1, 2, 3]
print(type(x))
y = x ##### change to y=x.copy() to fix this problem
print(y)
x.append(4) 
print(y) # y was changed as well; **avoid writing x=y**

<class 'list'>
[1, 2, 3]
[1, 2, 3, 4]

# Warnings

`copy them from the class lecture in bullet point form `

# Data Structures

1. lists, define with brackets: `x=[1,2,3]` ; lists are ordered collections
2. tuples, define with parentheses: `x=(1,2,3)` ; tuples are immutable lists (size & content can be changed)
3. dictionary, define with braces: `x={'a':[1,2,3]}` ; dictionary is an unordered collection
4. sets

In [49]:
x = {'a': [1,2,3]}
x

{'a': [1, 2, 3]}

# In Class Example

In [68]:
L = [8,5,6,3,7]
len(L) #returns the length
max(L) #returns the largest element
min(L) #returns the smallest element
sum(L) #returns the total of the vector
L[0] #returns the first element; Zero is the first thing; BRACKETS SLICE THE OBJECTS
L[len(L)-1] #returns the last element
L[0:2] #returns the first two elements; start:stop right before (you can also omit the zero since its implied)
L[len(L)-2:] #returns the last two elements
L[-1] #another way to return the last element
L[-2:] #another way to return the last two elements
L[::2] # LIST SLICE SYNTAX: LIST[start:stop right before:step] #this returns all odd numbered elements

[8, 6, 7]