# Arithmetic

In [1]:
2+2

4

In [2]:
float((2-2)) # FLOAT is a type that allows it to go into more precise decimals; a TYPE of the number only is an int

0.0

In [3]:
type(2/3)

float

In [4]:
int(2/3) # divide integers and you WILL get a float back

0

In [5]:
2//3 # floor division

0

In [6]:
int("0")

0

In [7]:
2%3 # mod operator

2

In [8]:
2**3 # exponent

8

In [9]:
2^3 # not an exponenet!!!!

1

In [10]:
int((2+3)*(4+15)/3) #pemdas as youd expect

31

In [11]:
3>3

False

In [12]:
True == 1

True

In [13]:
False == 1

False

# Logic

In [14]:
a = True

In [15]:
b = False

In [16]:
print(a and b)

False

In [17]:
print(a or b)

True

In [18]:
print(a and not b)

True

In [19]:
print(not a or not b)

True

- and
- or
- ()
- in 
- not in
- is and is not # check whether the left side and the right side are the same object; dont use these
- >
- <
- <=
- >=
- == # equals; not the same as IS
- != # not equals

In [20]:
a=3

In [21]:
b=[1,2,3]

In [22]:
print(a in b)

True

In [23]:
print(a not in b)

False

In [26]:
list1=[]

In [27]:
list2=[]

In [28]:
list3=list1

In [29]:
print(list1 == list2)

True

In [30]:
print(list1 is list2)

False

In [31]:
print(list1 is list3)

True

In [32]:

print((3>3) == False) # 1 is not greater than 2, so this evaluates to... 
print(3>3 == False)   #PEMDAS identity check
print((3>3) != True)

True
False
True

In [33]:
x = [1, 2, 3]
print(type(x))
y = x ##### change to y=x.copy() to fix this problem
print(y)
x.append(4) 
print(y) # y was changed as well; **avoid writing x=y**

<class 'list'>
[1, 2, 3]
[1, 2, 3, 4]

# Data Structures

1. lists, define with brackets: `x=[1,2,3]` ; lists are ordered collections
2. tuples, define with parentheses: `x=(1,2,3)` ; tuples are immutable lists (size & content can be changed)
3. dictionary, define with braces: `x={'a':[1,2,3]}` ; dictionary is an unordered collection
4. sets

In [34]:
x = {'a': [1,2,3]}
x

{'a': [1, 2, 3]}

# In Class Example

In [35]:
L = [8,5,6,3,7]
len(L) #returns the length
max(L) #returns the largest element
min(L) #returns the smallest element
sum(L) #returns the total of the vector
L[0] #returns the first element; Zero is the first thing; BRACKETS SLICE THE OBJECTS
L[len(L)-1] #returns the last element
L[0:2] #returns the first two elements; start:stop right before (you can also omit the zero since its implied)
L[len(L)-2:] #returns the last two elements
L[-1] #another way to return the last element
L[-2:] #another way to return the last two elements
L[::2] # LIST SLICE SYNTAX: LIST[start:stop right before:step] #this returns all odd numbered elements

[8, 6, 7]